<div class="container">
	<div class="row space">
		<div class="col-sm-4 col-md-4">		
			<div class="thumbnail">
				<img ng-src="{{items[0].img}}" style="width: 20em; height: 20em;">
				<div class="caption">
					<h3>{{items[0].name}}</h3>
					<p>{{items[0].description}}</p>
					<p><a class="btn btn-success" href="#/items/{{item.id}}" role="button">Buy</a> <a class="btn btn-default" role="button">View</a></p>
				</div>
			</div>
		</div>
		<div class="col-lg-4">
			<div class="thumbnail">
				<img ng-src="{{items[5].img}}" style="width: 20em; height: 20em;">
				<div class="caption">
					<h3>{{items[5].name}}</h3>
					<p>{{items[5].description}}</p>
					<p><a class="btn btn-success" href="#/items/{{item.id}}" role="button">Buy</a> <a class="btn btn-default" role="button">View</a></p>
				</div>
			</div>
		</div>
	</div>
</div>